[Unit]
Description=Leekha Node Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/server/Leekha/backend
ExecStart=/server/Leekha/backend/start.sh
Restart=on-failure
Environment=NODE_ENV=production
SyslogIdentifier=leekha-server

[Install]
WantedBy=multi-user.target
